html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
