@import "variables.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 400;
}
.text {
  color: var(--text-color);
  font-size: 15px;

  &.text--white {
    color: #fff;
  }
  &.text--gray {
    color: var(--gray);
  }
  &.text--light {
    font-weight: 300;
  }
  &.text--bold {
    font-weight: 600;
  }
  &.text--danger {
    color: #d53400;
  }
}
