{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
      "brace-style": "off",
      "arrow-body-style": "off",
      "comma-dangle": "off",
      "no-use-before-define": "off",
      "class-methods-use-this": "off",
      "no-console": "off"
    }
}
